.container__forms{
    position: absolute;
    background: var(--color-primary-variant);
/*     border: 1px solid purple; */
    width: 30.5rem;
    height: 32rem;
    border-radius: 25px;
    padding: 2rem;
    

    /*===========POSITION============*/
    left: 60rem;
    top: var(--container-top);
}

.section__img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img__pro{
    width: 5rem;
    border-radius: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: static;
    margin-bottom: 1rem;
}

.row{
    display: flex;
    margin-bottom: 0.5rem;
    color: white;
}
.colA{
    display: flex;
    float: left;
    width: 40%;
    align-items: center;
}
.colB{
    float: left;
    width: 60%;
}

input[type=text], select, textare, input[type=number], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: white;
}

.toggler-wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}


.toggler-wrapper.style-3 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-3 .toggler-knob {
    width: calc(25px + 6px);
    height: calc(25px + 6px);
    border-radius: 50%;
    left: -3px;
    top: -3px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
    box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
}


.botones-forms{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

/* .titulo {
    padding: 12px 12px 12px 0;
    display: inline-block;
} */
    
    /* section{
        border: 1px solid black;
    } */
    
    
    /* .section-forms{
        background: white;
    } */