.boton-tipo1{
    padding: 1rem;
    border-radius: 10px;
    background: white;
    font-weight: lighter; 
    border: 1px solid var(--color-primary-variant);
    color: var(--color-primary-variant);
}

.boton-tipo1:hover{
    border-color: white;
    background: var(--color-primary-variant);
    color: white;
}

.boton-tipo2{
    padding: 1rem;
    border-radius: 10px;
    background: var(--color-primary);
    font-weight: lighter; 
    border: 1px solid var(--color-primary);
    color: var(--color-white);
}

.boton-tipo2:hover{
    background: var(--color-white);
    color: var(--color-primary);
}
