.product__container{
    
    width: 7rem;
    height: 7rem;
    /* border: 1px solid red; */
    background: var(--color-white);
    border-radius: 25px;
    color: white;
    
}

.product__container:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: var(--transition);
}


.idProduct__section{
    height: 1.75rem;
    background: blue;
}

.img__product{
    width: 3.5rem;
}

.label__IndiProducto{
    color: var(--color-black);
    font-size: small;

}

.section__IndiProducto{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*




*/